/*--- RWD ---*/
.row {
	margin: 10px 10px;
	display: relative;
	overflow: hidden;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	display: relative;
	float: left;
	box-sizing: border-box;
	padding: 2%;
	overflow: hidden;
}

/* 5-column design */
.col-1 { width: 20%; }
.col-2 { width: 40%; }
.col-3 { width: 60%; }
.col-4 { width: 80%; }

@media only screen and (max-width: 580px) {
	.column { width: 100%; margin-bottom: 10px; }
	.column:last-child { margin-bottom: 0; }
}



/*--- Rest of CSS ---*/

body {
	color: black;
	background-color: #DDD;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}
body>section{
    text-align: center;
}
header {
	background-color: #ADA;
    top: 0;
    left: 0;
    width: 100%;
    height: 40mm;
	border: 2px ridge silver;
    background-image: url(../siteimg/watcher.jpg);
    background-repeat: no-repeat;

}


header h1 {
	font-size: 18pt;
	font-weight:bold;
	text-align: center;
}
footer {
	font-size: 10pt;
	text-align: center;
	background-color: #DEF;
	border: 1px solid silver;
}
nav {
	background-color: white;
	border: 1px dashed silver;
}
nav a {
	font-size: 10pt;
	display:block;
	padding: 1.5mm;
	font-weight: bold;
}
aside {
	background-color: #EEE;
	border: 1px dashed silver;
}
aside h2 {
	font-size: 12pt;
	margin: 0.5mm 0mm;
}
aside p {
	font-size: 8pt;
	margin: 0.5mm 0mm;
}
section {
	background-color: white;
	border: 1px dashed silver;
}
section h2 {
	font-size: 14pt;
}
section p {
	font-size: 12pt;
	margin: 3mm 0;
}

<<<<<<< Updated upstream
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
=======

/*--- Checkout Style ---*/



.txt-heading {
	margin: 20px 0px;
	text-align: left;
    background: #cccccc;
    padding: 5px 10px;
    overflow: auto;
}

#shopping-cart .txt-heading {
	border-top: #607d8b 2px solid;
    background: #e2e2e2;
    border-bottom: #607d8b 2px solid;
}

.txt-heading-label {
	display: inline-block;
}

#shopping-cart{
	width: 40%;
}
#shopping-cart .txt-heading .txt-heading-label{
	margin-top:5px;

}

.btnAddAction {
    padding: 3px 10px;
    cursor: pointer;
    border: #CCC 1px solid;
    background: #f3f0f0;
}

.cart-item {
	border-bottom: #79b946 1px dotted;
	padding: 10px;
}

.cart-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

#product-grid {
	margin-bottom: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.product-item {
	display: inline-block;
	margin: 8px;
	border: #CCC 1px solid;
}

.product-title {
	position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 5px 0px;
    color: #f1f1f1;
}
.product-image {
	height: 110px;
	width:160px;
	position:relative;
}

.product-image img {
	width:100%;
    height: 110px;
}

.product-footer {
    padding: 20px 10px 10px;
    overflow: auto;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.align-right {
	text-align: right;
}

.input-cart-quantity {
	padding: 5px;
    margin: 0;
    vertical-align: top;
    border: #CCC 1px solid;
    border-right: 0px;
    width:35px;
}
.cart-info {
	text-align: right;
	display:inline-block;
	width:15%;
    font-size: 0.8em;
}
.cart-info.title {
	width:50%;
	text-align: left;
}
.cart-info.price {
	min-width:20%;
	position:relative;
}
.cart-info.action {
	width: 5%;
    float: right;
    padding: 10px 0px;
}
.cart-item-container {
	padding: 5px 10px;
    border-bottom: #e2e2e2 1px solid;
}
.cart-status {
	color: #666;
    float: right;
    font-size: 0.8em;
    padding: 0px 10px;
    line-height: 18px;
}
#btnEmpty img{
	margin-top:6px;
	cursor:pointer;
}

.cart-item-container.header {
	background: #CCC;
    border-bottom: #b9b8b8 1px solid;
    font-weight: bold;
}
.btn-action {
	margin: 20px 0px 20px;
    padding: 10px 30px;
    font-size: 1em;
    background: #3a9ee0;
    border: #3590cc 1px solid;
    color: #FFF;
    cursor: pointer;
}
.frm-customer-detail {
    background: #dae5ec;
    padding: 20px;
}

.frm-heading {
	margin: 20px 0px 0px;
	text-align: left;
    background: #c9d3da	;
    padding: 10px;
}

.input-field {
	display:inline-block;
	margin:10px 0px;
}

.input-field input {
	margin-right:15px;
	padding:10px;
	min-width:200px;
}

.success {
	margin-top: 20px;
    background: #d6ecd6;
    padding: 15px;
    border: #c4dac4 1px solid;
}
.btn-continue {
	margin: 20px 0px 20px;
    padding: 10px 30px;
    font-size: 1em;
    background: #FFF;
    border: #3a9ee0 1px solid;
    color: #3a9ee0;
    cursor: pointer;
}
>>>>>>> Stashed changes
